*.iws
*Db.properties
*Db.script
.settings
stacktrace.log
/plugin.xml
/*.log
/*DB.*
/cobertura.ser
.DS_Store
/target
/web-app
/target-eclipse
/eclipse
/plugins
/web-app
grails-app/i18n
*~
plugin.xml
*.zip
*.zip.sha1
